.beer-item--preloader {
  width: 768px;
}

.beer-container {
  width: auto;
  padding: 10px;
}

.beer-item--box {
  max-width: 22rem;
}

.beer-item--box:hover {
  background-color: rgb(236 254 255);
  cursor: pointer;
}

.beer-item-img {
  max-width: 22px;
}

.beer-item-img>img {
  max-width: 22px;
}

.beer-item--tag {
  font-size: 10px;
  line-height: 16px;
}

.beer-item--description {
  font-size: 9px;
  line-height: 16px;
  color: rgb(82 82 91);
}


@media (min-width: 768px) {
  .beer-container {
    width: fit-content;
    display: inline-block;
    vertical-align: middle;
  }

  .beer-item--box {
    @apply max-w-3xl;
  }

  .beer-item-img {
    max-width: 28px;
  }

  .beer-item-img>img {
    max-width: 28px;
  }

  .beer-item--tag {
    font-size: 12px;
    line-height: 16px;
  }

  .beer-item--description {
    font-size: 10px;
    line-height: 16px;
    color: rgb(82 82 91);
  }
}